
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/myLayout.cshtml";
}

<style>
    .product_view .card-body {
        position: relative;
        padding: 0;
        background-color: #f4f6f9;
    }

        .product_view .card-body div {
            position: relative;
            width: 100%;
            height: 100%;
        }

            .product_view .card-body div img {
                width: 100%;
                height: 200px;
                object-fit: contain;
                background-color: #f4f6f9;
            }

        .product_view .card-body h5 {
            font-size: 16px;
            color: gray;
            float: none;
            padding-left: 10px;
            padding-top: 10px;
        }

            .product_view .card-body h5 + h5 {
                color: green;
                font-size: 16px;
                font-weight: 600;
                padding-top: 0;
            }

        .product_view .card-body a {
        }

    .product_view .card > div > a {
        color: black;
        font-size: 14px;
    }

    .img-links {
        position: relative;
        position: absolute;
        bottom: 15px;
        right: 10px;
    }

    .product_view .card {
        padding-bottom: 10px;
        background-color: #f4f6f9;
    }
</style>

<div class="container-fluid product_view">
    <div class="row " id="mainDiv">

    </div>
</div>


<script src="~/Content/Loginpage/js/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script src="~/Scripts/Lib/bem_common.js"></script>
<script src="~/Scripts/Lib/bem_htmlHelper.js"></script>
<script src="~/Scripts/MyScripts/AjaxHelper.js"></script>
<script src="~/Scripts/Lib/Products.js"></script>
<script src="~/Scripts/MyScripts/fin_common.js"></script>



<script>
    $(function () {

        //getAllProducts

        Products.loadGrid();
     
       

     
    });
</script>
