
@{
    ViewBag.Title = "Warehouse";
    Layout = "~/Views/Shared/myLayout.cshtml";
}


<a class="btn btn-dark" href="@Url.Action("New", "warehouse")">Add</a>

<div id="grid"></div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="~/Scripts/MyScripts/devExhelper.js"></script>
<script src="~/Scripts/MyScripts/fin_common.js"></script>
<script src="~/Scripts/Lib/warehouse.js"></script>
<script src="~/Scripts/MyScripts/AjaxHelper.js"></script>
<script>


    $(document).ready(function () {
        warehouse.loadGrid();
        $('body').on('click', '.elm_edit', function () {

            let id = $(this).attr('id');
            window.location.href = fin_common.sitrurl + "/warehouse/edit/" + id;

        })

        $('body').on('click', '.elm_delete', function () {

            let id = $(this).attr('id');
            warehouse.delete(id);

        })




    })


</script>

